@model ItemModel
@{
    ViewData["Title"] = "Confirm Purchase";
}

    <h2>Your order has been accepted!</h2>

<br />
<br />
<a asp-controller="Account" asp-action="MyCart" asp-route-id="">Back to cart</a>